@media only screen and (max-width: 768px) {
	.navbar-powers {
		width: 100%;
	}

	.menu-button {
		width: 7%;
		margin-left: auto;
	}
	
}

body {
	height: 100%;
	width: 100%;
}

.page-title {
	width: 100%;
    text-align: center;
    font-size: 250%;
    padding: 5%;
}

.page-title-parent .page-title:hover {
	background: black;
}

.header-nav {
	width: 100%;
	background: #000f1a; 
}

.navbar-powers {
	display: inline-flex;
	width: 50%;
	margin-left: 4%;
}

.login-text {
	font-weight: bold;
	font-style: normal;
}

.signup-text {
	font-weight: bold;
	font-style: normal;
}

.login-btn-container {
	margin-left: 3%;
}

.login-btn-container a {
	color: #337ab7;
}

.login-btn-container a:nth-child(1) {
	float: left;
	border: 1px groove #337ab7;
	border-radius: 10px;
}

.login-btn-container a:nth-child(1):hover {
	border: 2px solid #337ab7;
	background: ghostwhite;
}
.login-btn-container a:nth-child(2) {
	float: right;
}

.login-btn-container a:nth-child(2):hover {
	border-radius: 10px
}

.search-form-container {
	width: 30%;
	margin-left: 4%;
	padding-top: 10px;
}

.site-search {
	font-size: 120%;
    font-weight: bold;
    color: deepskyblue;
    background: black;
}
