

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.header-nav {
	width: 100%;
	background: #000f1a; 
}

.login-text {
	font-weight: bold;
	font-style: normal;
}

.signup-text {
	font-weight: bold;
	font-style: normal;
}

/* Animation and Fade Effects */
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity: 0;  /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.fade-in.three {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

.db-icon {
	position: absolute;
	left: 5px;
	top: 3px;
	color: cornflowerblue;
}

.plus-icon {
	position: absolute;
	left: 5px;
	top: 62%;
	color: cornflowerblue;
}

.add-datalist-btn {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #337ab7;
	color: #337ab7;
	background: honeydew;
	height: 30px;
}

.guest-message {
	border: 1px solid lightseagreen;
	border-radius: 5px;
	width: 100%;
}

.create-account-button {
	width: 100%;
}

.custom-nav {
	position:relative; z-index:1
}

.signup-anchor {

}

.signup-anchor:hover {
	border: 1px solid turquoise;
	border-radius: 10px;
	background: black;
}

.login-anchor {
	
}

.login-anchor:hover {
	border: 1px solid turquoise;
	border-radius: 10px;
	background-color: black;
}

.signup-form {
	width: 100%;
	margin: 0 auto;
}

.close-error-btn {
	background: lightsalmon;
	margin-top: 1%;
}

.event-form-errors {
	margin-top: 1%;
	display: block;
	list-style-type: square;
}

.create-event-title {
}

.create-event-form {
}

.enter-location-title {
}

.inputs {

}

.guest-message-label {
	display: block;
}

.guest-list {
	
}








