<style>
	.row-form {
		margin-top: 7%;
		margin-left: 5%;
	}

	.guestlist {
		display: block;
	}

	.btn-default {
		margin-left: 6%;
	}

	.btn-primary {
		width: 50%;
	}
	.add-guest-link {
		margin-left: 10%;
	}

	.guest-message {
		display: block;
		width: 74%;
		height: 50%;
		border: 1px solid silver;
	}

	.guestlist-label {
		width: 100%;
	}

	.dylans-btn {
		position: absolute;
		right: 8%;
		border-radius: 5px;
		background-color: #00001a;
		color: white;
		border: 1px solid #00001a; 
	}

	
</style>
<!-- Name of the event
Type of the event (birthday party, conference talk, wedding, etc.)
Event host (could be an individual’s name or an organization)
Event start date and time
Event end date and time
Guest list
Location
Optional message to the guests with additional information about the event
 -->

<form class="create-event-form row-form" ng-submit="createEvent()">

	<!-- any error messages pop up here -->
	<div class="alert alert-warning hidden">
		<Strong>Error</Strong><i id="error-msg"></i>
	</div>

	<!-- header row -->
	<div class="row">
		<h1 class="col-md-6 title text-left">Create an Event </h1>
	</div>

	<!-- form events inputs row -->
	<div class="row form-group">

		<!-- event name input -->
		<div class="col-md-3">
			<label for="event-name">Event name <i class="event-name-status"></i></label>
		    <input type="text" class="form-control" id="event-name" placeholder="event name"
		    	ng-change="onEventNameChange()"
		    	ng-model="event_name"
		    	required
		    >	
		</div>

		<!-- event type input -->
		<div class="col-md-3">
			<label for="event-type">Event type <i class="event-type-status"></i></label>
		    <input type="text" class="form-control" id="event-type" placeholder="event type"
		    	ng-change="onEventTypeChange()"
		    	ng-model="event_type"
		    	required
		    >	
		</div>

		<!-- event host input -->
		<div class="col-md-3">
			<label for="event-host">Event host <i class="event-host-status"></i></label>
		    <input type="text" class="form-control" id="event-host" placeholder="event host"
		    	ng-change="onEventHostChange()"
		    	ng-model="event_host"
		    	required
		    >	
		</div>
	</div>
	
	<!-- form inputs row for dates and guest list -->
	<div class="row form-group">

		<!-- datetime start input -->
		<div class="col-md-3">
			<label for="event-datetime-start">Event Start Date and Time <i class="event-datetime-start-status"></i></label>
		    <input type="datetime-local" class="form-control" id="event-datetime-start" placeholder="event date and Time"
		    	ng-change="onEventDateTimeStartChange()"
		    	ng-model="event_datetime_start"
		    	required
		    >	
		</div>

		<!-- datetime end input -->
		<div class="col-md-3">
			<label for="event-datetime-end">Event End Date and Time<i class="event-datetime-end-status"></i></label>
		    <input type="datetime-local" class="form-control" id="event-datetime-end" placeholder="event date and Time"
		    	ng-change="onEventDateTimeEndChange()"
		    	ng-model="event_datetime_end"
		    	required
		    >	
		</div>

		<!-- event guest list input -->
		<div class="col-md-3">
			<label for="event-guestlist" class="guestlist-label">Guest List</label><button type="button" class="dylans-btn" ng-click="addGuest()">add guest</button>
			<input id="event-guestlist" class="guestlist form-control" list="guestlist"
				ng-change="guestInputOnChange()"
				ng-model="current_guest"
			>
		    <datalist id="guestlist"></datalist>

		</div>
	</div>

	<!-- form group for guest message and form submit button -->
	<div class="row form-group">
		<div class="col-md-12">
			<label for="guest-message">Optional message for all guests</label>
			<textarea id="guest-message" class="guest-message"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-primary">Create Event</button>
		</div>
	</div>
</form>
