
		
		<form class="create-event-form" ng-submit="createEvent()">
			
			<!-- Successful account creation message appears here -->
			<div id="event-create-success" class="alert alert-success hidden">
				<Strong id="eventname"></Strong><p>has successfully been created. You can view the event <a href="/#/events">Here</a></p>
				<button class="btn success-event-btn" ng-click="closeMessageBox('#event-create-success')">Got It</button>
			</div>

			<!-- header row -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 text-left">
					<h1 class="create-event-title">Create an Event</h1>
				</div>
			</div>

			<!-- Error messages appears here -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
					<div id="errors" class="alert alert-warning hidden">
						<Strong id="error-msg">Errors need fixing</Strong>
						<ul id="error_list" class="event-form-errors">
							<li ng-repeat="error in eventFormErrors">{{error.error}}</li>
						</ul>
						<button type="button" class="btn close-error-btn" ng-click="closeMessageBox('#errors')">Ok Got It!</button>
					</div>
				</div>
			</div>
			

			<!-- form events inputs row -->
			<div class="row form-group inputs">

				<!-- event name input -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="event-name-input" class="create-event-label">Event Name <i class="event-name-status"></i></label>
				    <input id="event-name-input" type="text" class="form-control" placeholder="event name"
				    	ng-change="onEventNameChange()"
				    	ng-model="eventName"
				    	required
				    	autofocus>
				</div>

				<!-- event host input -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="event-host">Event host <i class="event-host-status"></i></label>
				    <input type="text" class="form-control" id="event-host" placeholder="event host"
				    	ng-change="onEventHostChange()"
				    	ng-model="eventHost"
				    	required>	
				</div>
				
			</div>
			<div class="row form-group">

				<!-- 
					event type input and event type datalist. by declaring the event type as a datalist
					the user can add several categories that the event type matches
				-->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="event-type" class="create-event-label">Event Type <i class="event-type-status"></i></label>
			    	<small id="event-type-help" class="form-text text-muted" style="display:block"> - At least one event type is required -</small>
				    <input id="event-type" type="text" class="form-control" placeholder="enter event type" list="eventtype"
				    	ng-change="eventTypeInputOnChange()"
				    	ng-model="eventType">
				    <datalist id="eventtype"></datalist>
					<button type="button" id="event-type-btn" class="add-datalist-btn" ng-click="addToDatalist('event-type', 'eventtype')">Add Event Type</button>
				</div>

				<!-- event guest list input -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="event-guestlist" class="guestlist-label">Guest List</label>
			    	<small id="guestlist-help" class="form-text text-muted" style="display:block"> - At least one guest is required -</small>
					<input id="event-guestlist" class="guestlist form-control" list="guestlist" placeholder="enter guest"
						ng-change="guestInputOnChange()"
						ng-model="currentGuest">
				    <datalist id="guestlist"></datalist>
					<button type="button" id="guestlist-btn" class="add-datalist-btn" ng-click="addToDatalist('event-guestlist', 'guestlist')">Add Guest</button>
				</div>
			</div>

			<div class="row form-group">
	
				<!-- Datetime start input -->
				<!-- Just like the input type=email, the ng-change on this input=datetime-local will only fire when the date is valid, that iswhen we store it and convert it to a timestamp -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="event-datetime-start">Event Start Date and Time <i class="event-datetime-start-status"></i></label>
				    <input type="datetime-local" class="form-control" id="event-datetime-start" placeholder="event date and Time"
				    	ng-change="onEventStartDateChange()"  
				    	ng-model="eventDateStart"
				    	required>	
				</div>

				<!-- Datetime end input -->
				<!-- Just like the input type=email, the ng-change on this input=datetime-local will only fire when the date is valid, that iswhen we store it and convert it to a timestamp -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="event-datetime-end">Event End Date and Time<i class="event-datetime-end-status"></i></label>
				    <input type="datetime-local" class="form-control" id="event-datetime-end" placeholder="event date and Time"
				    	ng-change="onEventEndDateChange()"
				    	ng-model="eventDateEnd"
				    	required>	
				</div>
			</div>
			<div class="row form-group">
			
				<!-- Location -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label for="address">Event Address<i class="event-address"></i></label>
				    <input type="text" class="form-control" id="address" placeholder="event address"
				    	ng-change="onAddressChange()"
				    	ng-model="address"
				    	required>	
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="guest-message" class="guest-message-label">Optional message for all guests</label>
					<textarea id="guest-message" class="guest-message"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
					<button class="btn btn-primary create-account-button">Create Event</button>
				</div> 
			</div>
		</form>




