<style>

    .login-form {
        margin-top: 7%;
        margin-left: 5%;
        width: 25%;
    }

    .form-group input {
        width: 100%;
        padding: 1.2%;
    }

    .btn-login {
        width: 100%;
        margin-top: 2%;
        background: #002e4d;
        color: white;
    }

    .btn-login:hover {
        color: black;
    }

    .error-box {
      color: #800000;
      border: 1px solid #800000;
      background: #ffe6e6;
    }

</style>

<form id="login-form" class="login-form" ng-submit="submitLoginForm()">
  
    <!-- Erro Message Container -->
    <div class="form-group">
      <div class="error-box hidden"></div>
    </div>

    <!-- Account name input -->
    <div class="form-group">
      <label for="account-name-login">Account Name</label><i class="account-name-login-status"></i>
      <input type="text" class="form-control" id="account-name-login" placeholder="Enter Account Name" 
        ng-change="onAccountNameChange()" 
        ng-model="account_name" 
        required
      >
    </div>

    <!-- Password Input, autocomplete will be turned off for security reasons  -->
    <div class="form-group">
      <label for="login-password">Password</label> <i class="password-login-status"> </i>
      <input type="password" class="form-control" id="login-password" autocomplete="name" placeholder="Password" 
        ng-change="onPasswordChange()" 
        ng-model="password" 
        required
      >
    </div>

    <!-- 
      Form submit btn
      I'm going to leave the whole diabled button functionality out because I laready proved that point
      with the signup form   
    -->
    <div class="form-group">
      <button type="submit" class="btn btn-login">Login</button>
    </div>
</form>


