<style>

	.row-form {
		margin-top: 8%;
		margin-left: 5%;
	}

	.form-group input {
		width: 70%;
		padding: 1.2%;
	}

	.btn-signup {
		width: 25%;
		margin-top: 2%;
		background: #002e4d;
		color: white;
	}

	.btn-signup:hover {
		color: white;
		background: black;
	}

	.account-name-error, .email-error, .password-error, .phone-error {
		color: red;
	}


	.check-icon {
		margin-left: 5%;
		width: 18%;
		color: #00e600;
		position: absolute;
		left: 60%;
		bottom: 70%;
	}

	.form-group:nth-child(2) {
		margin-top: 10%;
	}
	

</style>

<div class="row row-form">
	<div class="col-md-6">
		<form id="signup-form" class="signup-form" ng-submit="submitSignupForm()">
			<div class="form-group">
				<h1 class="form-header">Create Account - <i>It's Free!</i></h1>
			</div>
			<div class="form-group">
		    	<label for="name">Account Name <i class="account-name-status"></i></label>

		    	<!-- Important Notes Here. adding ng-onchange requires ng-model. if you set ng-model="variable" then you have access to $scope.variable which is the current input text of the name input -->
		    	<input type="text" class="form-control" id="account_name" placeholder="Enter name" autocomplete="name" ng-focus="onAccountNameFocus()" ng-blur="onAccountNameUnfocus()" ng-change="onAccountNameChange()" ng-model="account_name"  ng-mouseleave="onAccountNameMouseLeave()" required>
		    	<small id="nickname-help" class="form-text text-muted">Use a nickname if you like</small>
		  	</div>
			<div class="form-group">
		    	<label for="email-signup">Email address <i class="email-status"></i></label>
		    	<input type="email" class="form-control" id="email-signup" placeholder="Enter email" autocomplete="email" ng-focus="onEmailFocus()" ng-blur="onEmailUnfocus" ng-change="onEmailChange()" ng-model="email" ng-mouseleave="onEmailMouseLeave()"required>
		    	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  	</div>
		  	<div class="form-group">
		    	<label for="password-signup">Password <i class="password-status"></i></label>
		    	<input type="password" class="form-control" id="password-signup" placeholder="Enter Password" ng-focus="onPasswordFocus()" ng-blur="onPasswordUnfocus" ng-change="onPasswordChange()" ng-model="password" ng-mouseleave="onPasswordMouseLeave()" required>
		  	</div>
		  	<div class="form-group">
		    	<label for="phone">Phone <i class="phone-status"></i></label>
		    	<input type="tel" class="form-control" id="phone" name="phone" placeholder="(555)555-5555" autocomplete="tel" ng-focus="onPhoneFocus()" ng-blur="onPhoneUnfocus" ng-change="onPhoneChange()" ng-model="phone_number" ng-mouseleave="onPhoneMouseLeave()" required>
		  	</div>
		  	<div class="form-group">
		    	<label for="employer">Employer name, If unemployed type unemployed <i class="employer-status"></i></label>
		    	<input type="text" class="form-control" id="employer" name="employer" placeholder="Google, Udacity, Unemployed" autocomplete="employer" ng-focus="onEmployerFocus()" ng-blur="onEmployerUnfocus" ng-change="onEmployerChange()" ng-model="employer" ng-mouseleave="onEmployerMouseLeave()" required>
		  	</div>
		  	<div class="form-group">
		  		<button type="submit" class="btn btn-signup" disabled="disabled">Sign up</button>
		  	</div>
		</form>
	</div>
	<div class="col-md-6">
	</div>
</div>