<!DOCTYPE html>
<script>var t1 = performance.now()</script>
<html lang="en">
    <head>
        <title>SWDN P1</title>
        
        <meta charset="utf-8">
        <meta name="google-site-verification" content="DMJd9EeZC7uelUGywwWK5Nio5NJJORWnpRtVCMWvWWk" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Senior Web Dev Nanodegree Project 1">
        <meta property="og:type" content="Data">
        <meta property="og:description" content="Event Manager">
        <meta property="og:image" content="/img/CloudPlatform_logo.png">
        <meta property="og:site_name" content="">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
        <link rel="stylesheet" href="/css/site.min.css">
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/site.min.js"></script>

        
        
        <script>

            /* Function to run once the google js client library has loaded*/
            function init() {

                /* This variable rootPath declares the path where google api client will download the functionality so users can call functions from the specified google endpoint api */
                var rootPath = '//' + window.location.host + '/_ah/api';

                /* This function loads in the user_endpoint defined on the backend, and once that is loaded is, the document is bootstrapped to angular */
                gapi.client.load('user_endpoint', 'v1', function() {
                    angular.bootstrap(document, ['swdnP1App']);
                }, rootPath);

                /* This function uses the google js client library to load in the oauth module for hadnling user sign in with oauth, but we will not be using that at the present moment */
                gapi.client.load('oauth2', 'v2', null);
            }
        </script>
        <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>

    </head>

    <body ng-controller="RootController as rc">
        <div id="wrapper">
            <div class="container-fluid">

                <!-- Sidebar --> 
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav" id="logo-nav"></ul>
                    <ul class="sidebar-nav text-left" autofocus>
                        <li class="nav-item"><i class="fa fa-database fa-2x db-icon"></i><a href="/#/events" ng-click="toggleMenu()">See All Events</a></li>
                        <li class="nav-item"><i class="fa fa-plus-circle fa-2x plus-icon"></i><a href="/#/create_event" ng-click="toggleMenu()">Create New Event</a></li>
                    </ul>
                </div>
                <!-- /sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper" class="pcw-custom">

                    <!-- navbar at the top -->
                    <nav class="navbar navbar-fixed-top custom-nav">
                        <ul class="nav navbar-nav">

                            <!-- The navbar button icon for toggling the sidenav -->
                            <li class="nav-item menu-toggle-parent">
                                <a id="menu-toggle" class="btn btn-default btn-primary menu-button" type="button" ng-click="toggleMenu()">
                                    <span class="fa fa-list fa-1x" aria-hidden="true"></span>
                                </a>
                            </li>

                            <!-- The nvbar header -->
                            <li id="nav-brand-custom" class="nav-item">
                                <a class="navbar-brand col-xs-12 text-center" href="/#/events">Mr. Event Manager</a>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right" style="margin-right: 5%">

                            <!-- Login and Signup buttons on navbar-->
                            <li id="login-btn" class="nav-item" ng-if="!userSignedIn()" ng-cloak>
                                <a class="nav-link col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center login-anchor" href="/#/login">
                                    <i class="fa-1x login-text">login</i>
                                    <i class="fa fa-sign-in fa-2x"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center signup-anchor" href="/#/signup">
                                    <i class="fa-1x signup-text">signup</i>
                                    <i class="fa fa-user-plus fa-2x"></i>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <!-- End nav -->

                    <!-- Where partial templates will be loaded into, Initially the events.html will be loaded in first -->
                    <ng-view></ng-view>

                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- / .container-fluid -->

        </div>
        <!-- / #wrapper -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script>
            console.log("loaded the page in " + (Math.round(performance.now() - t1)) + " milliseconds");
        </script>
    </body>
</html>
